<h2>About Hash<span style="color:red">#</span>Jobs</h2>
<p><strong>Hash<span style="color:red">#</span>Jobs</strong> is a teeny tiny little experiment pitched at the intersection of twitter and job hunting in a bad economy. Inspired by and standing on the shoulders of those who came before, including <%= twitter_link_to('lachlanhardy') %> (<%= link_to 'fu2008', 'http://fuckyou2008.com', :target => '_blank', :class => 'external' %>), <%= twitter_link_to('technoweenie') %> (<%= link_to 'Is LOST on yet?', 'http://islostonyet.com', :target => '_blank', :class => 'external' %>), <%= twitter_link_to('amyhoy') %> and <%= twitter_link_to('madrobby') %> (<%= link_to 'twistori','http://twistori.com', :target => '_blank', :class => 'external' %>)</p>
<h2>About me</h2>
<p>I'm just your average freelance developer guy who dabbles in Ruby. You can find me on twitter as <%= twitter_link_to('warren_s') %>.</p><p><strong>I'm looking for new projects, so if you like what you see, and have something that needs building, you can hire me.</strong> DM me or see my <%= link_to 'blog', 'http://warrenseen.com', :target => '_blank', :class => 'external' %> for more details.</p>
<h2>How it works</h2>
<p><strong>Hash<span style="color:red">#</span>Jobs</strong> aggregates tweets that contain the following tags from twitter:<br/>
	<span class="tag"><%= Terms.join(', ') %></span><br/>
	If you want your tweet to appear here, simply add one of those tags.</p>
<p>Some day, in the future, <strong>Hash<span style="color:red">#</span>Jobs</strong> might be smarter, through the wonders of bayesian classifiers and other cool things like text clustering. No promises.</p>
<h2>What it's made with</h2>
<p><a target="_blank" class="external" href="http://sinatra.github.com">Sinatra</a> and the <a target="_blank" class="external" href="http://twitter.rubyforge.org/">twitter gem</a> running on top of <a target="_blank" class="external" href="http://www.modrails.com/">Phusion Passenger</a>.</p>